{{#message}}
{{#fields}}
{{#simple}}
{{#axis}}
{{name}}_tready_in when s_counter{{#currentMessage}}_{{currentMessage}}{{/currentMessage}}={{index_tdata}} else
{{/axis}}
{{/simple}}
{{#multi}}
{{#currentMessage}}{{currentMessage}}_valid_in when s_counter{{#parentMessage}}_{{parentMessage}}{{/parentMessage}}={{currentMessageByte}} else{{/currentMessage}}
{{>AXIS_to_msg_tready}}
{{/multi}}
{{/fields}}
{{/message}}