{{#reset}}
s_counter{{^main}}_{{counter}}{{/main}} <= (others=>'0');{{#valid}}
{{valid}}_valid_out <= '0';{{/valid}}
{{/reset}}
{{#increment}}
s_counter{{^main}}_{{counter}}{{/main}} <= s_counter{{^main}}_{{counter}}{{/main}} + '1';
{{/increment}}
{{#resetElement}}
{{#evaluate}}
if(s_counter_{{evaluate}}=(({{evaluate}}_in(3) & {{evaluate}}_in(2) & {{evaluate}}_in(1) & {{evaluate}}_in(0)))-1) then
    {{>msg_to_AXIS_Process_resetElement}}
end if;
{{/evaluate}}
{{^evaluate}}
{{>msg_to_AXIS_Process_resetElement}}
{{/evaluate}}
{{/resetElement}}
